body {
  font-family: fantasy;
  font-size: 16px;
  line-height: 1;
  background-color: whitesmoke;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: left;
  border-radius: 20px;
}

.container {
  margin-bottom: 20px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid;
  height: 80px;
}

.hour {
  background-color: #0088f7;
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
}

/* setting different colors for blocked hours and available hours.  */
.past {
  background-color: #a7a5a5;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

/* Style the save button.  */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0088f7;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
